@model decimal


@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Значение</title>
</head>
<body>
    <div>
        Загальна вартість: $@Model
    </div>
</body>
</html>

